@keyframes swap-left {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(20px); }
}

@keyframes swap-right {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-20px); }
}

.animate-swap1 {
  animation: swap-left 0.6s infinite ease-in-out;
}

.animate-swap2 {
  animation: swap-right 0.6s infinite ease-in-out;
}
