

.Soccer {
    background-position: -85px -19px;
}

.Cricket {
    background-position: -233px -19px;
}
.Tennis {
    background-position: -183px -19px;
}
.Basketball {
    background-position: -430px -19px;
}
.horseRacing {
    background-position: -733px -19px;
}
.Rugby {
    background-position: -334px -19px;
}
